* {box-sizing: border-box;}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: yellow;
    display: flex;
}
section{
background-color: red;
width: 300px;
flex-grow: 1;
height: 300px;
}
aside{
background-color: blue;
height: 300px;
width: 30%;
min-width: 300px;
flex-shrink: 0;
}